# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Wirtualne Środowisko ---
file_cert_venv/
venv/
env/
.venv/

# --- Zmienne środowiskowe i Sekrety ---
.env
.env.local

# --- dane projektu (File Cert) ---
certs/
app/storage/
uploaded_files/

# --- Pliki Certyfikatów ---
*.p12
*.pfx
*.pem
*.key
*.csr
*.crt

# --- IDE i Edytory ---
.vscode/
.idea/

# --- Logi i bazy danych ---
*.log
*.sqlite3
dump.rdb
.idea


# --- Git ---
.gitignore